* {
    margin: 0;
    padding: 0;
}
#slika {
    height: 200px;
    width: 200px;
    border-radius: 50%;

}
#header {
    width: 100%;
    height: 300px;
    float: left;
    text-align: center;
    background-color: grey;
}

