* {
	margin: 0;
	padding: 0;
}
#article {
    text-align: center;
    float: left;
    background-color: grey;
    color: rgb(206, 202, 202);
    padding-left: 250px;
    padding-right: 250px;
    font-size: 20px;
	font-family: 'Roboto', sans-serif;
	text-align: justify;

}
#article h1 {
text-align: center;

}
#form {
	width: 100%;
	height: 300px;
	float: left;
	background-color: grey;
}
.polje {
	display: block;
	width: 200px;
	margin: 5px auto 0;	
	height: 20px;
	padding-left: 5px;
	resize: none;

}
#form textarea {
	height: 100px;

}
@media screen and (min-width: 0px) and (max-width: 640px) {
	#article {
		padding-left: 5px;
		padding-right: 5px;
	}	
}